body{
    min-width: 320px;
    font-family: 14px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}

img{
    max-width: 100%;
    /* делаем картинки адаптативными */
    height: auto;
}
a{
    color: #c3bdb2;

}
a:hover{
    color: #443f35;
}
p{
    line-height: 1.6rem;
}
h2,h3{
    margin: 1rem 0;
    font-size: 28px;
}

header .navbar-brand{
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;

}

header .nav-item{
    text-transform: uppercase;
    margin-left: 40px;
}

header .nav-item a::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    transform: scale(0); /*убрать подчеркивания*/
    transition: all 0.3s; /*анимация при наведении курсора*/
}

header .nav-item a:hover::after{
    transform: scale(1); 
}
#slider img{
    max-height: 500px;
}

.slider{
    margin-top: 30px;
    margin-bottom: 50px;
}

.post-category,
.link-more{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color:  #c3bdb2;
    text-transform: uppercase;
    font-weight: 300;
}
.post-title a{
    color: #626262;
}
.grid-posts{
    margin: 100px 0;
}

.grid-posts .card{
    border: none;
    margin-bottom: 120px;
}

.grid-posts .card-body{
    padding-left: 0px;
    padding-right: 0px;
}
.grid-posts .card-img-top {
    max-height: 570px;
    border-radius: 0;
}

.load-more{
    padding: 1rem 2rem;
    border-color: #626262;
    border-radius: 0;
}
.load-more span{
   display: none;
}

.signup{
    background-color: #f0f0f0;
    padding: 70px 0;
}

.signup h3{
    color: #333;
}

.signup form{
    margin-top: 60px;
}

.signup .form-input{
    position: relative;
}

.signup .form-control{
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
    background-color: transparent;
}

.signup .form-control:focus{
    box-shadow: none;
}

.signup .btn {
    position: absolute;
    right: 0;
    top: -8px;
    font-size: 30px;
}
footer{
    background-color: #f0f0f0;
    padding: 40px 0;
    color: #000;
}
.footer-left a{
    color: #000;
    margin-right: 20px;
}
.footer-right a{
    color: #626262;
    margin-left: 20px;
}




@media only screen and (max-width: 1200px) { 
    
}

@media only screen and (max-width: 1199px) { 
    .grid-posts .card-img-top {
        max-height: 360px;

    }
}


@media only screen and (max-width: 992px) {
    .grid-posts .card-img-top {
        max-height: 260px;
    }
    header .nav-item{
        margin-left: 0;
    }
 }


@media only screen and (max-width: 768px) {
    .grid-posts .card-img-top {
        max-height: 100%;
    }
    .grid-posts{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .grid-posts .card{
        margin-bottom: 50px;
    }
 }


@media only screen and (max-width: 576px) { 
    .footer-left{
        margin-bottom: 10px;
    }
    .form-row .form-input{
        margin: 0px;
    }
    .signup{
        padding: 15px;
    }
}